<p class="tui-text_body-xl">Привет! </p>

<p class="tui-text_body-xl">Добро пожаловать в UI-челендж по интерфейсным паттернам и Taiga UI!</p>

<p class="tui-text_body-xl">Ваша задача:</p>

<ul class="tui-list tui-list_large">
    <li class="tui-list__item">
        определить UI-паттерн по показанному интерфейсу
    </li>
    <li class="tui-list__item">
        выбрать правильное название (верен один ответ)
    </li>
</ul>

<p class="tui-text_body-xl">Все экраны квиза собраны с использованием Taiga UI.</p>

<p class="tui-text_body-xl"> Глубокие знания не нужны, но опыт работы с UI будет плюсом.</p>

<p class="tui-text_body-xl">Готовы проверить себя? Начинаем — удачи и приятной игры!</p>