<p class="tui-text_body-xl">Привет! </p>

<p class="tui-text_body-xl">Добро пожаловать в UI-квиз, посвящённый интерфейсным паттернам и Taiga UI.</p>

<p class="tui-text_body-xl">Как проходит игра:</p>

<ul class="tui-list tui-list_large">
    <li class="tui-list__item">
        Перед вами будет появляться UI-паттерн, реализованный с помощью Taiga UI.
    </li>
    <li class="tui-list__item">
        Справа вы увидите список возможных паттернов.
    </li>
    <li class="tui-list__item">
        Ваша задача — выбрать правильное название паттерна, который соответствует показанному интерфейсу.
    </li>
    <li class="tui-list__item">
        На каждый вопрос — один правильный ответ.
    </li>
</ul>

<p class="tui-text_body-xl">Все экраны квиза собраны с использованием Taiga UI.</p>

<p class="tui-text_body-xl">Игра не требует глубоких знаний фреймворка — но опыт работы с UI будет преимуществом.</p>

<p class="tui-text_body-xl">Готовы проверить, насколько хорошо вы ориентируетесь в UI-паттернах?
Тогда начинаем — удачи и приятной игры!</p>