<header class="header">
  <h1 class="">
    <img
      src="https://raw.githubusercontent.com/taiga-family/taiga-ui/main/projects/demo/src/assets/images/taiga.svg"
      alt="taiga ui logo"
      width="28"
      class="tui-space_left-4"
    />
    Taiga UI
  </h1>

  <div class="">
    <img src="/quess-component/browser/assets/images/qr-web.png" alt="Logo" width="70px" class="qr">
  </div>
  
</header>


<div class="stepper-container">
  <div class="stepper-header">
    <h2 class="tui-text_h3">Челлендж "Угадай паттерн"</h2>

    <div *ngIf="(currentPage < (totalPages) ) && (currentPage > 1)" class="tui-space_top-5">
      <progress
          [max]="totalPages-2"
          tuiProgressBar
          [value]="currentPage-1"
      ></progress>
      <p class="tui-text_body-xl tui-space_top-4">Какой UI паттерн изображен перед вами?</p>
    </div>
    	
  </div>

  <div class="stepper-content">
    <!-- Quiz Component -->
     <div
        tuiCardLarge
        tuiAppearance="floating"
      >
        <div tuiAnimated class="animate" class="quiz-components">
          <app-start tuiAnimated class="animate" *ngIf="currentQuestion.component === 'start'"></app-start>
          <app-radio tuiAnimated class="animate" *ngIf="currentQuestion.component === 'radio'"></app-radio>
          <app-progress tuiAnimated class="animate" *ngIf="currentQuestion.component === 'progress'"></app-progress>
          <app-tooltip tuiAnimated class="animate" *ngIf="currentQuestion.component === 'tooltip'"></app-tooltip>
          <app-stepper tuiAnimated class="animate" *ngIf="currentQuestion.component === 'stepper'"></app-stepper>
          <app-dropdown tuiAnimated class="animate" *ngIf="currentQuestion.component === 'dropdown'"></app-dropdown>
          <app-paginator tuiAnimated class="animate" *ngIf="currentQuestion.component === 'paginator'"></app-paginator>
          <app-toggle tuiAnimated class="animate" *ngIf="currentQuestion.component === 'toggle'"></app-toggle>
          <app-accordion tuiAnimated class="animate" *ngIf="currentQuestion.component === 'accordion'"></app-accordion>
          <app-carousel tuiAnimated class="animate" *ngIf="currentQuestion.component === 'carousel'"></app-carousel>
          <app-select  *ngIf="currentQuestion.component === 'select'"></app-select>
          <app-finish tuiAnimated class="animate" *ngIf="currentQuestion.component === 'finish'" [rightAnswers]="rightAnswers" [totalQuestions]="totalPages-2"></app-finish>
        </div>
    </div>

    <!-- Quiz Question -->
    <div class="quiz-content">      
      <!-- Answer Options -->
      <div class="options-container">
        @for (item of currentQuestion.options; track item) {
          <button
              appearance="secondary"
              tuiButton
              type="button"
              (click)="submitAnswer(item)"
              [class.right-answer]="isDisable ? item === currentQuestion.options[currentQuestion.correctAnswer] : false"
              [class.wrong-answer]="isDisable ? ( item === answer && !isCorrect ) : false"
              [tuiAppearanceState]="isDisable ? 'disabled' : null"
          >
              {{ item }}
          </button>
        }
      </div>

    </div>
  </div>

  <div class="stepper-notification">
      <tui-notification size="l" *ngIf="showResult" appearance="{{isCorrect ? 'success' : 'error'}}">
        <div *ngIf="isCorrect">Правильно! Отличный ответ.</div>
        <div *ngIf="!isCorrect">Неправильно. Правильный ответ: {{ currentQuestion.options[currentQuestion.correctAnswer] }}</div>
      </tui-notification>   

  </div>


  <div class="stepper-navigation">

   
    
    <button 
      *ngIf="showResult && currentPage < (totalPages - 1)" 
      size="l"
      (click)="goToNextPage()" 
      tuiButton
      type="button"
      class="nav-button next-button">
      Следующий
    </button>
    
    <button 
      *ngIf="currentPage === totalPages" 
      size="l"
      (click)="resetQuiz()" 
      tuiButton
      type="button"
      class="nav-button reset-button">
      Начать заново
    </button>
    
    <button 
      *ngIf="currentPage === 1" 
      size="l"
      (click)="start()" 
      tuiButton
      type="button"
      class="nav-button reset-button">
      Начать
    </button>
    
    <button 
      *ngIf="showResult && currentPage === (totalPages - 1)" 
      size="l"
      (click)="finish()" 
      tuiButton
      type="button"
      class="nav-button reset-button">
      Завершить
    </button>
  </div>
</div>
